@-webkit-keyframes orbit {
  0% {
    transform: rotate(230deg);
    opacity: 0;
    -webkit-animation-timing-function: linear; }
  4% {
    transform: rotate(320deg);
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  30% {
    transform: rotate(500deg);
    -webkit-animation-timing-function: linear; }
  37% {
    transform: rotate(680deg);
    -webkit-animation-timing-function: linear; }
  70% {
    transform: rotate(850deg);
    opacity: 1;
    -webkit-animation-timing-function: linear; }
  75% {
    transform: rotate(945deg);
    -webkit-animation-timing-function: linear; }
  76% {
    transform: rotate(945deg);
    opacity: 0; }
  100% {
    transform: rotate(945deg);
    opacity: 0; } }
/*
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
} */
/*
body {
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    height: 100%;
    min-width: 100%;
    margin: 0;
    overflow-y: hidden;
    color: #333;
    font-size: 100%;
    background-color: #333;
}
*/
/*
html {
    height: 100%;
}

p, label, span, li, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

    a:hover {
        text-decoration: underline;
    }

img {
    pointer-events: none;
}

.no-margin {
    margin: 0 !important;
}

.no-transition {
    transition: none !important;
}

.clearer {
    clear: both;
}

*[data-panel] {
    display: none;
}
*/
input, select {
  padding: 0 0 0 5px;
  line-height: 2em;
  height: 2.2em;
  box-sizing: border-box; }

input[type=file] {
  line-height: normal;
  opacity: 0;
  width: 100%;
  height: 1.5em;
  float: left;
  z-index: 1;
  cursor: pointer; }

input[type="file"] + a {
  position: relative;
  left: 10px;
  top: -1.8em;
  font-size: 0.8em;
  z-index: -1;
  /* display: none; */ }

input[type="file"]:hover + a {
  text-decoration: underline; }

input[type=button] {
  width: auto;
  height: 33px;
  padding: 8px 20px;
  background: #dfdfdf;
  border: 1px solid #ccc;
  text-transform: uppercase;
  color: #333;
  margin: 1px 1px 1px 10px;
  outline: none;
  line-height: initial; }

input[type=button]:hover {
  background: #dadada; }

input[type=button]:active {
  transform: scale(1.03); }

.loader {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  display: none; }

.loader span {
  width: 5px;
  height: 5px;
  background: #FFF;
  display: block;
  float: left;
  -webkit-animation: orbit 5.5s infinite;
  transform-origin: 0 30px;
  position: absolute;
  border-radius: 3px;
  left: 35px;
  top: -35px;
  opacity: 0; }

.loader.dark span {
  background: #000; }

.loader span:nth-child(1) {
  -webkit-animation-delay: 0.96s; }

.loader span:nth-child(2) {
  -webkit-animation-delay: 0.19s; }

.loader span:nth-child(3) {
  -webkit-animation-delay: 0.38s; }

.loader span:nth-child(4) {
  -webkit-animation-delay: 0.58s; }

.loader span:nth-child(5) {
  -webkit-animation-delay: 0.77s; }

.wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1.5s; }

a.button-options {
  position: fixed;
  right: 10px;
  bottom: 0px;
  height: 45px;
  width: 75px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../imgs/icons/options.png"); }

a.button-options:hover {
  opacity: 1; }

.bookmark-bar {
  background: rgba(223, 223, 223, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  overflow: hidden;
  z-index: 2;
  display: none; }

.bookmark-bar a.previous {
  float: left;
  width: 40px;
  height: 40px;
  background: url("../imgs/icons/previous.png") no-repeat center; }

.bookmark-bar a.next {
  float: left;
  background: url("../imgs/icons/next.png") no-repeat center;
  width: 40px;
  height: 40px; }

.bookmark-bar .bookmarks.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding: 0 10px 0 0; }

.bookmark-bar .bookmarks.menu > ul > li > ul {
  right: 10px; }

.bookmark-bar .bookmarks.menu > ul > li > ul li ul {
  margin: -40px 0 0 -320px; }

.bookmark-bar .bookmarks ul > li:hover {
  background: #E8E8E8; }

.bookmark-bar .bookmarks ul li:hover > ul {
  display: block; }

.bookmark-bar .bookmarks.list {
  height: 40px;
  max-width: calc(100% - 220px);
  overflow: hidden;
  float: left; }

.bookmark-bar .bookmarks.list > ul {
  height: 40px;
  position: relative;
  left: 0px;
  white-space: nowrap; }

/*FIST LEVEL*/
.bookmark-bar .bookmarks > ul {
  margin: 0;
  padding: 0;
  height: 40px; }

.bookmark-bar .bookmarks > ul > li {
  font-size: 0.8em;
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 7px 0px 0;
  padding: 0 0 0 7px;
  top: 0px;
  height: 40px;
  line-height: 40px;
  color: #333;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis; }

.bookmark-bar .bookmarks > ul > li:first-child {
  border: none; }

.bookmark-bar .bookmarks > ul > li:hover {
  margin: 0;
  padding: 0 7px 0 7px;
  background: #E8E8E8; }

.bookmark-bar .bookmarks > ul > li > img {
  position: relative;
  top: 3px;
  margin: 0 5px 0 0; }

/*SECOND LEVEL*/
.bookmark-bar .bookmarks > ul > li > ul {
  display: none;
  background: white;
  position: fixed;
  top: 40px;
  width: 300px;
  padding: 0;
  margin: 0 0 0 -7px;
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto; }

.bookmark-bar .bookmarks > ul > li > ul > li {
  list-style: none;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px; }

.bookmark-bar .bookmarks > ul > li > ul > li > img {
  position: relative;
  top: 3px;
  margin: 0 5px 0 0; }

/*THIRD AND NEXT LEVELS*/
.bookmark-bar .bookmarks > ul > li > ul li ul {
  display: none;
  background: white;
  position: fixed;
  width: 300px;
  padding: 0;
  margin: -40px 0 0 280px;
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: auto; }

.bookmark-bar .bookmarks > ul > li > ul > li ul li {
  list-style: none;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px; }

.bookmark-bar .bookmarks > ul > li > ul > li ul li img {
  position: relative;
  top: 3px;
  margin: 0 5px 0 0; }

/*
.container {
    position: relative;
    float: left;
    transition: top .3s, left .3s;
    max-height: 100%;
    left: 0;
}

.tile-group {
    height: 0px;
    max-height: 100%;
    position: relative;
    transition: left .5s ease-out;
    float: left;
}

    .tile-group.placeholder:not(.active) {
        height: 100%;
        width: 50px;
        margin: 0 20px;
        background: #000;
        opacity: 0.4;
    }

    .tile-group h2 {
        position: relative;
        top: -2em;
        height: 0px;
        margin: 0;
        color: #eee;
        font-weight: normal;
        text-align: left;
    }

.tile {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    -webkit-transition: top .3s, left .3s, width .3s, height .3s, transform .2s;
    border: 0px solid;
    z-index: 1;
}

    .tile:hover {
        opacity: .9 !important;
    }

    .tile:active {
        opacity: 1;
        z-index: 2;
        transform: scale(1.03);
    }

    .tile.dragging {
        z-index: 2;
        transition: none;
        transform: scale(1);
    }

    .tile.placeholder {
        background: none;
        opacity: .3;
        border: 2px dashed #eee;
    }

    .tile.preview {
        position: relative;
        margin: 0 auto;
        width: 240px;
        height: 119px;
    }

    .tile.selected {
        border: 5px solid #DDDDDD;
    }

    .tile .tile-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 1.5s;
    }

    .tile .tile-content.sm {
        width: 100%;
        height: 100%;
    }

        .tile .tile-content.sm > div {
            text-align: center;
            width: 100%;
            height: 100%;
        }

    .tile .tile-content.lg {
        width: 100%;
        height: 200%;
    }

        .tile .tile-content.lg > div {
            text-align: center;
            width: 100%;
            height: 50%;
        }


    .tile .tile-content > div img {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .tile .tile-content > div label {
        color: white;
        font-size: 1.7em;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

*/
.options {
  position: fixed;
  bottom: 0px;
  background: #0F680F;
  height: 90px;
  width: 100%;
  z-index: 3;
  transition: height .3s ease-out; }

.options.hidden {
  height: 0px; }

.options .context {
  position: relative;
  float: left;
  height: 100%;
  margin-left: 20px; }

.options .global {
  position: relative;
  float: right;
  height: 100%;
  margin-right: 20px; }

.options a {
  display: block;
  position: relative;
  float: left;
  height: 45px;
  width: 75px;
  margin: 0;
  top: 15px;
  line-height: 112px;
  text-align: center;
  color: #FFF;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: center; }

.options a:hover {
  opacity: 1;
  transform: scale(1.005); }

.options a:active {
  opacity: 1;
  transform: scale(1.05); }

.options a.resize-small {
  background-image: url("../imgs/icons/resize-smaller.png"); }

.options a.resize-big {
  background-image: url("../imgs/icons/resize-bigger.png"); }

.options a.edit {
  background-image: url("../imgs/icons/edit.png"); }

.options a.remove {
  background-image: url("../imgs/icons/remove.png"); }

.options a.add-tile {
  background-image: url("../imgs/icons/add.png"); }

.options a.settings {
  background-image: url("../imgs/icons/settings.png"); }

.options .separator {
  display: block;
  position: relative;
  float: left;
  width: 0px;
  top: 10px;
  height: 70px;
  margin: 0 10px;
  border-right: 2px dotted #fff;
  opacity: 0.1; }

.overlay {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  /*background: #000;*/
  opacity: 0;
  display: none; }

.config {
  background: white;
  z-index: 5;
  position: fixed;
  width: 670px;
  max-height: 90%;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #222;
  display: none;
  height: 844px; }

.config#config {
  height: 750px; }

.config#tile-config {
  height: 700px; }

.config#feed-config {
  width: 440px;
  height: 320px; }

.config .top-bar {
  position: relative;
  float: left;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  cursor: move;
  background: #000000;
  opacity: 0.2;
  z-index: 1; }

.config h3, .config h4:first-child {
  margin-top: 0; }

.config .left-col {
  position: absolute;
  top: 20px;
  left: 0;
  width: 190px;
  height: calc(100% - 59px);
  padding: 20px;
  background: #555;
  color: #FFF; }

.config .left-col ul {
  list-style: none;
  padding: 0 10px; }

.config .left-col ul li {
  margin: 10px 0; }

.config .right-col {
  width: 400px;
  padding: 20px;
  max-height: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0; }

.config .right-col.top {
  height: calc(100% - 125px);
  padding: 20px;
  top: 20px; }

.config .right-col.bottom {
  height: 35px;
  padding: 15px 20px;
  text-align: right;
  bottom: 0; }

.config .right-col .form-row {
  margin: 10px 0; }

.config .right-col .form-row::after {
  content: "";
  clear: both;
  display: block; }

.config .right-col .form-row > div {
  margin: 0;
  padding: 0 10px;
  float: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.config .right-col .form-row > div .load-file {
  height: 1.5em; }

.config .right-col .form-row > div.size12 {
  width: 100%; }

.config .right-col .form-row > div.size11 {
  width: 91.66666667%; }

.config .right-col .form-row > div.size10 {
  width: 83.33333333%; }

.config .right-col .form-row > div.size9 {
  width: 75%; }

.config .right-col .form-row > div.size8 {
  width: 66.66666667%; }

.config .right-col .form-row > div.size7 {
  width: 58.33333333%; }

.config .right-col .form-row > div.size6 {
  width: 50%; }

.config .right-col .form-row > div.size5 {
  width: 41.66666667%; }

.config .right-col .form-row > div.size4 {
  width: 33.33333333%; }

.config .right-col .form-row > div.size3 {
  width: 25%; }

.config .right-col .form-row > div.size2 {
  width: 16.66666667%; }

.config .right-col .form-row > div.size1 {
  width: 8.33333333%; }

.config .right-col .form-row > div span {
  display: block;
  padding: 0;
  margin: 5px 0;
  min-width: 100%;
  height: 1.5em;
  flex: 3; }

.config .right-col .form-row > div span.details {
  font-size: 0.68em;
  opacity: .7;
  margin: -0.5em 0 10px 0; }

.config .right-col .form-row > div label {
  display: block;
  padding: 0;
  margin: 5px 0;
  min-width: 80%;
  height: 1.5em;
  flex: 1; }

.config .right-col .form-row > div input[type=text] {
  flex: 2; }

.config .right-col .form-row > div select {
  flex: 1; }

.config .right-col .form-row > div a.remove-image {
  margin: 0 0 10px 15px;
  font-size: .8em; }

.config .right-col .form-row > div a.speed-test {
  position: relative;
  top: 38px;
  left: -12px; }

.config .right-col .form-row > div a.btn-add-feed {
  display: block;
  margin: 10px 0 0 0;
  height: 45px;
  width: 45px;
  background: url("../imgs/icons/add2.png") no-repeat; }

.config .right-col .form-row > div input[type="color"] {
  padding: 0;
  margin: 0;
  height: 33px;
  border: none;
  background: none;
  order: 3;
  cursor: pointer; }

.config .right-col .form-row > div input[type="color"] + input[type="text"] {
  height: 26px;
  top: 1px;
  position: relative;
  left: 0px;
  float: left;
  order: 2;
  max-width: 7em; }

.config .right-col .form-row > div input[type="range"] {
  flex: 2;
  margin-right: 9px; }

.config .right-col .form-row > div input[type="range"] + input[type="number"] {
  flex: 1;
  max-width: 4em;
  border: 1px solid #E1E1E1; }

.config .right-col .preview-tile {
  margin: 10px; }

.config .right-col iframe {
  width: 390px;
  border: none;
  height: calc(100% - 10px); }

.config .right-col .feeds > div::after {
  content: "";
  clear: both;
  display: block; }

.config .right-col .feeds span {
  position: relative;
  float: left;
  margin: 5px 0;
  width: calc(100% - 100px);
  height: 1.5em; }

.config .right-col .feeds span.url {
  font-size: 0.68em;
  opacity: .7;
  margin: -0.5em 0 10px 0; }

.config .right-col .feeds a.btn-remove-feed {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/icons/remove2.png") no-repeat;
  position: relative;
  top: 16px; }

.config .right-col .feeds a.btn-edit-feed {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../imgs/icons/edit2.png") no-repeat;
  margin: 0 10px 0 0;
  position: relative;
  top: 16px; }

.news {
  position: relative;
  float: right;
  width: 340px;
  top: 50%;
  transform: translate(0, -50%);
  right: 2em;
  max-height: 100%;
  max-width: 800px;
  min-height: 352px;
  min-width: 340px;
  color: #ddd;
  background: rgba(0, 0, 0, 0.4);
  display: none; }

.news .resize {
  background: url("../imgs/icons/resize.png") no-repeat;
  width: 19px;
  height: 19px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: ne-resize; }

.news .resize:hover {
  transform: none; }

.news .header {
  margin: 15px 0 0;
  padding: 0 15px;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  display: none; }

.news .header .titles {
  float: left;
  overflow-y: hidden;
  overflow-x: auto;
  width: calc(100% - 80px);
  height: 43px;
  white-space: nowrap; }

.news .header .titles::-webkit-scrollbar {
  width: 0;
  height: 0; }

.news .header .titles p {
  font-size: 1.7em;
  font-weight: lighter;
  margin: 0 15px 0 0;
  opacity: 0.6;
  display: inline; }

.news .header .titles p.active {
  font-weight: normal;
  opacity: 1; }

.news .header a {
  float: right;
  display: inline-block;
  width: 30px;
  height: 45px;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px; }

.news .items {
  height: calc(100% - 90px);
  margin: 15px 0;
  padding: 0;
  overflow-y: auto;
  display: none; }

.news .items ul {
  padding: 0px;
  margin: 0 10px; }

.news.grid .header .change-view {
  background-image: url("../imgs/icons/view-list.png"); }

.news.grid .header .change-view-pictures {
  display: none; }

.news.grid .items ul li {
  position: relative;
  list-style: none;
  min-width: 145px;
  min-height: 145px;
  float: left;
  overflow: hidden;
  font-size: 0.9em;
  background: #000;
  margin: 5px; }

.news.grid .items ul li:hover {
  color: #fff; }

.news.grid .items ul li:hover .image, .news.grid .items ul li:hover .no-image {
  opacity: 0.6; }

.news.grid .items ul li:hover p {
  text-decoration: underline; }

.news.grid .items ul li * {
  cursor: pointer; }

.news.grid .items ul li .image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-color: #bebebe;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.news.grid .items ul li .no-image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #bebebe; }

.news.grid .items ul li .item {
  position: absolute;
  overflow: hidden;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  box-sizing: border-box; }

.news.grid .items ul li .item p {
  margin: 0;
  font-weight: bold; }

.news.grid .items ul li .item div.item-description {
  display: none; }

.news.list .header .change-view {
  background-image: url("../imgs/icons/view-grid.png"); }

.news.list .header .change-view-pictures {
  background-image: url("../imgs/icons/view-pictures.png"); }

.news.list.hide-images .header .change-view-pictures {
  opacity: 0.7; }

.news.list .items ul li {
  list-style: none;
  font-size: 0.9em;
  margin: 15px;
  /*min-height: 120px;*/
  max-height: 120px;
  overflow: hidden;
  transition: .3s max-height ease-in-out; }

.news.list .items ul li:first-child {
  margin: 0 15px 15px; }

.news.list .items ul li:hover {
  color: #fff; }

.news.list .items ul li.full {
  max-height: 1000px;
  transition: .5s max-height ease-in; }

.news.list .items ul li * {
  cursor: pointer; }

.news.list .items ul li .image {
  width: 110px;
  height: 110px;
  float: left;
  margin: 5px 20px 1px 0;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.news.list.hide-images .items ul li .image {
  display: none; }

.news.list .items ul li .no-image {
  display: none; }

.news.list .items ul li .item h4 {
  margin: 0;
  font-weight: bold; }

.news.list .items ul li .item h4:hover {
  text-decoration: underline; }

.news.list .items ul li .item div.item-description {
  font-size: 1em;
  opacity: 0.7;
  padding: 1px 0; }

.news.list .items ul li .item div.item-description * {
  font-size: 1em !important;
  font-weight: normal !important;
  text-decoration: none !important;
  margin: 0 !important; }

.news.list .items ul li .item div.item-description a {
  border-bottom: 1px solid #818181;
  display: inline;
  /* text-decoration: underline; */ }

.news.list .items ul li .item div.item-description a:hover {
  border-bottom: 1px solid #FFFFFF; }

.news.list .items ul li .item div.item-description img {
  display: none; }

.news.list .items ul li .item div.item-description img:first-child {
  display: none;
  width: 40px;
  height: 40px; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.no-margin {
  margin: 0 !important; }

.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none; }

.clearer {
  clear: both; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

*[data-panel] {
  display: none; }

/*
::-webkit-scrollbar,
::-webkit-scrollbar-button:start:increment,
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:end:decrement {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-track {
    border-radius: 4.5px;
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4.5px;
    background: none;
    border: none;
}

:hover::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, .5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, .5);
}
*/
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100vh; }

body {
  overflow: hidden;
  font-family: "Roboto";
  min-height: 100vh;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: kern 1;
  -moz-font-feature-settings: kern 1;
  font-feature-settings: kern 1; }

p, label, span, li, h1, h2, h3, h4, h5, h6 {
  cursor: default; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }
